<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="importmap">
      {
        "imports": {
          "apajs": "https://esm.sh/apajs@1.0.1/"
        }
      }
    </script>
    <script type="module" src="/test.js"></script>
  </head>
  <body>
    <h1>Hi from Sinatra!</h1>
    <test-test>
      <button :click="inc">++</button>
    </test-test>
  </body>
</html>
